div{
    width: 400px;
    height:400px;
    
    background-image: url("james-chan-BODZzJi5lwo-unsplash.jpg");
    background-size: cover;
    /* background-size: auto;
    background-size: contain; */
    
}
