#container
{
    height: 200px;
    width: 500px;
    background-color:rgb(60, 199, 189);
    display: flex;
}
#one
{
    height:80px;
    width: 80px;
    background-color:beige;
    margin-top:40px;
    margin-left:40px;
    /* display: inline-block; */
}
#two
{
    height:80px;
    width: 80px;
    background-color:azure;
    margin-top:40px;
    margin-left:40px;
    /* display: inline-block; */
}
#three
{
    height:80px;
    width: 80px;
    background-color:darkslategray;
     margin-top:40px;
    margin-left:40px;
    /* display: inline-block; */
}
